* { box-sizing: border-box;}

body{
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

html{
    height: 100%;
}

.poster{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.actor-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.details{
    background-color: transparent;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
}

.pagination{
    background-color: bisque;
}

#programTitle{
    font-size: 20px;
}