* { box-sizing: border-box;}

body{
    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

html{
    height: 100%;
}

h1, h2, span, button, h3{
    font-family: "Unkempt", cursive;
    font-weight: 700;
    color: #ba0c0c;
}

nav, p, a, label, li{
    font-family: "Delius", cursive;
    color: #2a850e;
}

.poster{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.actor-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.program-details, .program-header, form, .card-body, .background-container{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.pagination{
    background-color: bisque;
}

#programTitle{
    font-size: 20px;
}