<%- include('../partials/header') %>

<main class="main" id="main">

    <div class="container text-center">

        <p class="error-message"><%= message %></p>

        <img src="/images/error.jpg" alt="funny error message, this page does not exist">

    </div>

</main>

<%- include('../partials/footer') %>