<%- include('../partials/header') %>

    <main class="main" id="main">

        <h1 class="display-1 text-center text-capitalize"><%= title %></h1>

        <nav class="navbar navbar-expand-lg">

            
        </nav>

        <p class="text-center">
            Welcome to my Christmas Program App where you can add your own programs too!
        </p>
    </main>

<%- include('../partials/footer') %>  