<%- include('../partials/header') %>

    <main class="main" id="main">

        <nav class="nav justify-content-center">

            <a href="/" class="nav-link active">Home</a>
            <a href="/programs" class="nav-link">Programs</a>
            <a href="/streaming-platforms" class="nav-link">Streaming Platforms</a>
            <a href="/actors" class="nav-link">Actors</a>
            <a href="/director" class="nav-link">Directors</a>
            <a href="/producer" class="nav-link">Producers</a>
            
        </nav>

        <p class="text-center">
            Welcome to my Christmas Program App where you can add your own programs too!
        </p>
    </main>

<%- include('../partials/footer') %>  